---
name: openQA test
# yamllint disable-line rule:truthy
on:
  pull_request_target:
  # Note how this runs on:pull_request_target and not on:pull_request!
  # The difference is that this runs always with the context of the master
  # branch. This is necessary to allow accessing the API credential secrets.
  workflow_dispatch:
env:
  OPENQA_HOST: ${{ secrets.OPENQA_URL || 'https://openqa.opensuse.org' }}
  OPENQA_API_KEY: ${{ secrets.OPENQA_API_KEY }}
  OPENQA_API_SECRET: ${{ secrets.OPENQA_API_SECRET }}
  GH_REPO: ${{ github.event.pull_request.head.repo.full_name }}
  GH_REF: ${{ github.event.pull_request.head.ref }}
  OPENQA_GROUP_ID: ${{ secrets.OPENQA_GROUP_ID || '1' }}

jobs:
  trigger_and_monitor_openqa:
    runs-on: ubuntu-latest
    container:
      image: registry.opensuse.org/devel/openqa/containers/tumbleweed:client
    steps:
      - uses: actions/checkout@v3
      - name: Get latest build
        id: latest_build
        run: >-
          echo build=$(openqa-cli api
          --host $OPENQA_HOST
          job_groups/$OPENQA_GROUP_ID/build_results only_tagged=1
          | jq -r '[ .build_results[] | select(.tag.description=="published") | .build ][0]'
          ) >> "$GITHUB_OUTPUT"
      - name: Link to test result overview page
        run: >-
          build=$(tr '/' ':' <<<"$GH_REPO#$GH_REF");
          build=$(perl -e 'use Mojo::Util; print(Mojo::Util::url_escape($ARGV[0]))' "$build");
          echo "$OPENQA_HOST/tests/overview?flavor=dev&build=$build"
      - name: Trigger and monitor openQA test
        run: >-
          openqa-cli schedule
          --monitor
          --host "$OPENQA_HOST/"
          --apikey "$OPENQA_API_KEY" --apisecret "$OPENQA_API_SECRET"
          --param-file SCENARIO_DEFINITIONS_YAML=scenario-definitions.yaml
          DISTRI=openQA VERSION=Tumbleweed FLAVOR=dev ARCH=x86_64
          HDD_1=opensuse-Tumbleweed-x86_64-${{ steps.latest_build.outputs.build }}-minimalx@64bit.qcow2
          BUILD=$(tr '/' ':' <<<"$GH_REPO#$GH_REF") _GROUP_ID=0
          CASEDIR="$GITHUB_SERVER_URL/$GH_REPO.git#$GH_REF"
